.pad {
  border: var(--borderWidth) solid var(--elemCol);
  border-radius: var(--borderRadius);
  width: calc(90vw - (2 * var(--borderWidth)));
  height: 50vh;
  box-sizing: border-box;
  margin: 5px 0;
  transition: border-color 100ms ease-in-out;
}

.active {
  border-color: var(--activeCol);
}

.row {
  display: flex;
  justify-content: center;
  width: 90vw;
}

.scrollButton {
  --height: 45px;
}
