.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  overflow: auto;
  opacity: 0;
}

.page.inactive {
  animation: fadeOut 300ms ease-in-out forwards;
}

.page.active {
  animation: fadeIn 300ms ease-in-out forwards;
}

.page.unchanged {
  z-index: -1;
}

.page.initial {
  animation: none;
  opacity: 1;
  z-index: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(100vw);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-100vw);
  }
}
